* {
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sidebarItem {
        @apply my-4 text-[#444] text-xs font-medium cursor-pointer hover:bg-[rgb(250,250,250)] hover:text-[rgb(38,38,38)] flex items-center  justify-center lg:justify-start gap-4;
    }

    .navitemmobile {
        @apply h-[40px] px-[12px] my-4 text-[rgba(38,38,38,.8)] cursor-pointer hover:scale-110 flex items-center  justify-center;
    }
}

:root {
    --green: #14C704;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: #FAFAFA; */
    overflow-x: hidden;
}